*{
margin:0;
padding:0;
}
body{
background-color:#80e5a0;
}

a{
text-decoration:none;
}

.container{
position:relative;
margin:50px auto 0;
width:1230px;
height:460px;
}

.container .nav{
position:absolute;
top:0;
left:0;
width:235px;
height:400px;
padding:30px 0;
background-color:gray;
}

.container .nav>li{
height:40px;
background-image:url('../image/next.png');
background-size:20px 20px;
background-repeat:no-repeat;
background-position:90%;
}

.container .nav li a{
display:block;
font-size:14pt;
text-indent:20px;
line-height:40px;
color:#fff;
transition:.5s;
}

.container .nav li a:hover{
text-indent:40px;
background-color:#fb6702;
}

.container .nav .hide{
display:none;
position:absolute;
top:0;
left:230px;
z-index:1;
width:990px;
height:460px;
background-color:#fff;
box-shadow:0 0 10px 0;
}

.container .nav .hide li{
float:left;
width:187px;
height:37px;
padding:20px 30px;
}

.container .nav li:hover .hide{
display:block;
}

.container .nav .hide li img{
width:40px;
height:40px;
vertical-align:middle;
}

.container .nav .hide li span{
font-size:15px;
vertical-align:middle;
}

.container .banner{
position:absolute;
top:0;
left:230px;
width:990px;
height:460px;
background-color:red;
}

.container .banner>img{
width:990px;
height:460px;
}

.container .banner .left{
position:absolute;
top:200px;
left:20px;
width:16px;
height:30px;
cursor:pointer;
}

.container .banner .right{
position:absolute;
top:200px;
right:20px;
width:16px;
height:30px;
cursor:pointer;
}

span img{
width:16px;
height:30px;
}

.banner .list{
position:absolute;
right:0;
bottom:10px;
width:150px;
height:20px;
}

.banner .list li{
display:inline-block;
width:20px;
height:20px;
background-color:gray;
border-radius:10px;
cursor:pointer;
}

.banner .list li:hover{
background-color:yellow;
}
