@charset 'utf-8';
a{
text-decoration:none;
}
.left-nav{
position:fixed;
left:100px;
bottom:50px;
width:36px;
height:370px;
/* background-color:blue; */
}

.left-nav>ul>li{
width:24px;
height:24px;
padding:6px;
line-height:1;
background-color:#636363;
}
.left-nav>ul>li:first-child{
line-height:24px;
background-color:#ff0036;
}

.left-nav>ul>li+li{
margin-top:1px;
}
.left-nav>ul>li>a{
display:block;
color:#fff;
height:24px;
}
.left-nav>ul>li:last-child{
width:36px;
height:36px;
padding:0;
background-color:#ababab;
}
.left-nav>ul>li:last-child a>i{
font-size:34px;
}
.left-nav>ul>li:nth-child(2):hover{
background-color:#64c333;
}
.left-nav>ul>li:nth-child(3):hover{
background-color:#ea5f8d;
}
.left-nav>ul>li:nth-child(4):hover{
background-color:#c35ca1;
}
.left-nav>ul>li:nth-child(5):hover{
background-color:#0aa6e8;
}
.left-nav>ul>li:nth-child(6):hover{
background-color:#64c333;
}
.left-nav>ul>li:nth-child(7):hover{
background-color:#f15453;
}
.left-nav>ul>li:nth-child(8):hover{
background-color:#19c8a9;
}
.left-nav>ul>li:nth-child(9):hover{
background-color:#000;
}