@charset 'UTF-8';

body,h1,h2,h3,h4,h5,h6,p,dd{
	margin:0;
	padding:0;
	font-size: 100%;
}
ul,ol,dl{
	list-style-type:none;
	margin:0;
	padding:0;
}

input,button{
	border:none;
	outline:none;
}
body{
    min-width:1200px;
	font:12px/1.5 'Microsoft Yahei',sans-serif;/*sans-serif 是手机默认字体*/
}

.iconfont{
	color:inherit;
}

/********** float *************/
.fl-l{
	float:left;
}
.fl-r{
	float:right;
}
.clearfix:after{
	content:'';
	display:block;
	clear:both;
}

/*********** position ***************/
.pos-r{
	position:relative;
}
.pos-a{
	position:absolute;
}
.pos-f{
	position:fixed;
}

.on-blue{
    color: #427def !important;
}
.on-highlight{
    color: #6347ed !important;
}
.on-orange{
    color: #fa5c5c !important;
}
.on-yellow{
color: #f7a831 !important;
}
.on-green{
    color: #3bc7b0 !important;
}

.public-img{
width:1230px;
height:90px;
margin:30px auto 0;
overflow:hidden;
/* background-color:gray; */
}
.public-img>a{
display:block;
width:1230px;
height:90px;
}
.public-img>a>img{
width:1620px;
height:90px;
margin-left:-180px;
}










